body {
    font-family: "Playfair Display", serif;
    background-image: url('../assets/back2.jpeg');
    background-size: cover;
    background-position: center;
}

.transparent-card {
    background-color: rgba(255, 255, 255, 0.775);
}

.custom-login-button {
    background-color: #565656;
    border-color: #565656;
    color: azure; 
}
.custom-login-button:hover {
    background-color: #b9b9b9; 
    border-color: #b9b9b9; 
}

.btn-warning {
    background-color: #ffc107; 
    border-color: #ffc107; 
}

.btn-warning:hover {
    background-color: #d39e00; 
    border-color: #d39e00; 
}