body {
    font-family: "Playfair Display", serif;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-success {
    background-color: #787777;
    border-color: #787777;
    color: #ffffff;
}

.btn-success:hover {
    background-color: #d2d0d0;
    border-color: #d2d0d0;
    color: #424242;
}

.form-outline input[type=text] {
    border-radius: 25px;
    border: 2px solid #424242;
}

.form-outline input[type=password] {
    border-radius: 25px;
    border: 2px solid #424242;
}

.form-outline input[type=text]:focus {
    border-color: #757575;
    box-shadow: 0 0 0 0.2rem rgba(66, 66, 66, 0.25);
}

.card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
}

.text-uppercase {
    color: #000000;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}
